# SEGMENTING AND CLUSTERING NEIGHBORHOODS IN TORONTO
### Part 1: Creating Dataframe of PostalCode, Borough, Neighborhoods
### Part 2: Creating Dataframe of PostalCode Geographical Coordinates
### Part 3: Exploring and Clustering

## Part 1

### Installing Packages

In [118]:
pip install BeautifulSoup4
pip install lxml

SyntaxError: invalid syntax (<ipython-input-118-bede5cec0038>, line 1)

### Importing libraries

In [119]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup

### Getting text from wikipedia

In [120]:
# send request 
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')
#print(soup.prettify())
My_table = soup.find('table',{'class':'wikitable sortable'})

### Extracting data from wikitable and preparing pandas table

In [121]:
ls = []
for tr in My_table.find_all('tr'):
    tds = tr.find_all('td')
    if not tds:
        continue 
    data = Postcode, Borough, Neighbourhood = [td.text.strip() for td in tds[:3]]
    ls.append(data)
    #for td in tds:
     #   print(td.text.strip())
ls
df=pd.DataFrame(ls)
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df=df[df['Borough']!='Not assigned'].sort_values('Neighborhood', ascending=False)
df['Neighborhood']=df.Neighborhood.str.replace(' / ', ', ')
#df_filtered=df[df['PostalCode'].isin(['M5G', 'M2H', 'M4B', 'M1J', 'M4G', 'M4M', 'M1R', 'M9V', 'M9L', 'M5V', 'M1B', 'M5A'])]

# would need to change df back to df_filtered
df_PBN=df.reset_index().drop(['index'],axis=1)
df_PBN

    PostalCode      Borough                                     Neighborhood
0          M2P   North York                                  York Mills West
1          M2L   North York                         York Mills, Silver Hills
2          M4C    East York                                 Woodbine Heights
3          M1G  Scarborough                                           Woburn
4          M2M   North York                          Willowdale, Newtonbrook
..         ...          ...                                              ...
98         M5M   North York                Bedford Park, Lawrence Manor East
99         M2K   North York                                  Bayview Village
100        M3H   North York  Bathurst Manor, Wilson Heights, Downsview North
101        M8W    Etobicoke                           Alderwood, Long Branch
102        M1S  Scarborough                                        Agincourt

[103 rows x 3 columns]

In [122]:
df_PBN.to_csv('Part1_PBN.csv')

### Alternate method to extract data

In [123]:
# same thing different method 

postal = []
borough = []
neigh = []
for tr in My_table.find_all('tr'):
    tds = tr.find_all('td')
    i = 0
    for td in tds:
        if i==0:
            postal.append(td.text.strip())
            i=i+1
        elif i==1:
            borough.append(td.text.strip())
            i=i+1
        else:
            neigh.append(td.text.strip())
            i=0

### Printing shape

In [124]:
print(df_new.shape)

(12, 3)