In [34]:
import pandas as pd

In [35]:
df_PNB = pd.read_csv('Part1_PBN.csv')
df_PNB

,Unnamed: 0,PostalCode,Borough,Neighborhood
0,0,M2P,North York,York Mills West
1,1,M2L,North York,"York Mills, Silver Hills"
2,2,M4C,East York,Woodbine Heights
3,3,M1G,Scarborough,Woburn
4,4,M2M,North York,"Willowdale, Newtonbrook"
...,...,...,...,...
98,98,M5M,North York,"Bedford Park, Lawrence Manor East"
99,99,M2K,North York,Bayview Village
100,100,M3H,North York,"Bathurst Manor, Wilson Heights, Downsview North"
101,101,M8W,Etobicoke,"Alderwood, Long Branch"
102,102,M1S,Scarborough,Agincourt

In [36]:
geo_data = pd.read_csv('https://cocl.us/Geospatial_data')
#geo_data=geo_data[geo_data['Postal Code'].isin(['M5G', 'M2H', 'M4B', 'M1J', 'M4G', 'M4M', 'M1R', 'M9V', 'M9L', 'M5V', 'M1B', 'M5A'])]
geo_data

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [37]:
PNB=df_PNB.sort_values('PostalCode',ascending=True)
geo=geo_data.sort_values('Postal Code', ascending=True)

In [38]:
final=pd.merge(PNB, geo, left_on='PostalCode', right_on='Postal Code')
final=final.drop(['Unnamed: 0', 'Postal Code'], axis=1)

In [39]:
final.to_csv('full_df.csv')